%script{ src: "/top.js/" }
= render partial: 'shared/header'
.l-wrapper.js-wrapper.js-exclusion-header.__web-inspector-hide-shortcut__
  .blogcategory.js-blogcategory.js-blogcategory-service
    %ul.blogcategory-list
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          Web制作
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          オフショア開発（BiTT開発）
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          コンテンツマーケティング支援
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          ゲストハウス
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          コワーキング
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          教育
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          飲食
      %li.blogcategory-list-item
        %a.blogcategory-list-item-inner{ href: "#" }
          地域創生
  .l-content
    %main.l-service
      .hero{ style: "background-image: #"}
        .hero-text.hero-text-black
          %h1.hero-title Life is Good
          %p.hero-desc ワクワクを作りみんなを笑顔にする
      .l-service-lig-logo
        .l-service-lig-logo-inner
          %svg{ width: "810px", height: "67px",  viewBox: "0 0 810 67", preserveAspectRatio: "xMinYMin meet" }
            %path{ d: "M772.301,65.258 L743.735,65.258 L743.735,1.465 L772.979,1.465 C794.474,1.465 809.096,14.387 809.096,33.318 C809.096,52.337 794.280,65.258 772.301,65.258 ZM772.591,15.025 L761.454,15.025 L761.454,51.790 L773.461,51.790 C783.726,51.790 790.989,44.420 790.989,33.500 C790.989,22.487 783.340,15.025 772.591,15.025 ZM690.464,65.988 C669.450,65.988 653.765,51.971 653.765,33.318 C653.765,14.751 669.450,1.010 690.464,1.010 C711.476,1.010 727.162,14.843 727.162,33.318 C727.162,51.971 711.476,65.988 690.464,65.988 ZM690.657,15.208 C680.491,15.208 671.969,23.034 671.969,33.409 C671.969,43.781 680.587,51.790 690.657,51.790 C700.825,51.790 708.958,43.781 708.958,33.409 C708.958,23.034 700.825,15.208 690.657,15.208 ZM604.851,65.988 C583.838,65.988 568.153,51.971 568.153,33.318 C568.153,14.751 583.838,1.010 604.851,1.010 C625.864,1.010 641.550,14.843 641.550,33.318 C641.550,51.971 625.864,65.988 604.851,65.988 ZM605.045,15.208 C594.877,15.208 586.355,23.034 586.355,33.409 C586.355,43.781 594.975,51.790 605.045,51.790 C615.212,51.790 623.346,43.781 623.346,33.409 C623.346,23.034 615.212,15.208 605.045,15.208 ZM521.463,14.913 C510.400,14.913 502.079,22.918 502.079,33.409 C502.079,43.989 510.499,51.995 521.660,51.995 C525.085,51.995 529.393,50.890 533.505,48.958 L533.505,32.672 L548.974,32.672 L548.974,58.065 C541.632,62.852 529.980,66.347 520.388,66.347 C499.436,66.347 483.672,52.176 483.672,33.409 C483.672,14.638 499.826,0.652 521.563,0.652 C531.841,0.652 542.708,4.332 549.759,10.220 L539.575,21.998 C534.680,17.673 527.728,14.913 521.463,14.913 ZM400.022,65.805 C388.693,65.805 376.879,61.891 368.744,55.613 L375.621,42.600 C382.593,48.241 393.146,52.246 400.216,52.246 C405.443,52.246 408.737,50.425 408.737,47.059 C408.737,36.228 373.005,42.782 373.005,20.211 C373.005,8.292 383.755,0.737 400.119,0.737 C410.092,0.737 420.162,3.649 427.233,7.927 L420.550,21.122 C413.385,17.301 404.282,14.297 398.666,14.297 C394.406,14.297 391.597,15.753 391.597,18.664 C391.597,29.221 427.329,23.215 427.329,46.148 C427.329,59.161 415.128,65.805 400.022,65.805 ZM330.868,1.112 L348.784,1.112 L348.784,65.612 L330.868,65.612 L330.868,1.112 ZM205.927,1.465 L259.475,1.465 L259.475,14.751 L223.647,14.751 L223.647,26.673 L255.990,26.673 L255.990,39.958 L223.647,39.958 L223.647,51.971 L260.442,51.971 L260.442,65.258 L205.927,65.258 L205.927,1.465 ZM147.428,14.751 L147.428,28.949 L177.835,28.949 L177.835,42.234 L147.428,42.234 L147.428,65.258 L129.709,65.258 L129.709,1.465 L180.448,1.465 L180.351,14.751 L147.428,14.751 ZM77.509,1.465 L95.227,1.465 L95.227,65.258 L77.509,65.258 L77.509,1.465 ZM0.911,1.112 L18.827,1.112 L18.827,51.256 L47.905,51.256 L47.905,65.612 L0.911,65.612 L0.911,1.112 Z" }
      .l-service-catch.l-service-catch-sm
        .l-content-wrapper
          .catch
            %p.catch-text
              LIGはWeb制作会社として2007年に創業し、オウンドメディアの先駆者として皆様に愛されてまいりました。かつては小さなビルの一室から始まった会社も、いまや海外も含めた複数の拠点を持ち、多数の事業を展開するに至ります。
            %p.catch-text よく「何をしている会社なのかわからない」と言われます。それはLIGが「わくわく」することであれば未知の分野にでも踏み出していく姿勢を持った会社だからです。
            %p.catch-text
              LIGの理念は「Life is Good」。これからも自分、ひいては誰かの「LifeをGoodにする」ために「わくわく」することならば、LIGはあらゆることに挑戦していきます。
      .l-content-full
        .l-service-content
          .l-content-wrapper
            .heading.heading-section
              %h2.heading-section-title Serive
              %span.heading-section-subtext 事業一覧
            %ul.l-service-list
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
              %li.l-service-list-item
                .service-card
                  %a.service-card-inner{ href: "#" }
                    .service-card-media
                      .service-card-media-inner
                        .service-card-image{ style: "background-image: url(#)" }
                    .service-card-content
                      .heading.heading-section
                        %h2.heading-section-title-md Web Production
                        %span.heading-section-subtext Web制作
    .l-breadcurumb
      %ol.breadcrumb
        %li.breadcrumb-item
          %a.breadcrumb-item-inner{ href: "#" }
            %span.icon-home
        %li.breadcrumb-item
          事業一覧
= render partial: 'shared/footer'