.ourservice-title,
.sidepr-date {
  font-weight: 400;
  letter-spacing: .05em;
}
.button-text,
.heading-title {
  font-weight: 700;
}
.author-relatedness-article-date,
.button-text-en,
.calltoaction-button-sub-text-liginc,
.contact-box,
.contact-title,
.faq-contact-form-input,
.footercopy-text,
.footersitemap-heading,
.grouparchive-label-num,
.grouplist-count-num,
.header-navi-text-en,
.heading-page-num,
.hero-text,
.history-card-title,
.history-startup-title,
.introduction-card-en,
.introduction-pager-current,
.introduction-pager-max,
.introduction-pickup-en,
.l-recruit-detail-heading-main,
.l-recruit-detail-subheading,
.media-tag.media-tag-new,
.media-tag.media-tag-pr,
.messageform-heading,
.movieslider-date,
.not-found-title-text,
.office-block-article-link,
.office-block-text,
.office-hero-text,
.office-location,
.ourservice-heading,
.pickup-article-date,
.recruit-card-position-item,
.recruit-detail-article-title,
.recruit-detail-feed-link,
.recruit-detail-recruit-title,
.single-header-content-date,
.single-header-date,
.single-header-prlabel,
.single-header-series-count,
.single-pagenation-number-item,
.single-related-articlelist-prlabel,
.single-related-prlabel,
.staff-card-name-en,
.subblog-text {
  letter-spacing: .05em;
}
.button-text,
.heading-title {
  font-weight: 700;
}
.swiper-slide,
.swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}
.footerbanner-item-inner,
.footercontact-social-item a,
.footersitemap-list a, .info-item a,
.infomovie-item-inner, .megamenu-item a,
.messageform-text a,
.subblog-article-link {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.footerbanner-item-inner,
.footercontact-social-item a,
.footersitemap-list a,
.info-item a,
.infomovie-item-inner,
.megamenu-item a,
.messageform-text a,
.subblog-article-link {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}