.l-header {
  position: relative;
  display: block;
  width: 100%;
  min-width: 1260px;
  height: 0px;
  .l-header-inner {
    display: block;
    width: 100%;
    min-width: 1260px;
    padding: 0 20px;
    background: #181818;
    z-index: 10;
    .l-header-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      max-width: 1260px;
      height: 80px;
      margin: 0 auto;
      -webkit-transition: all .25s ease;
      transition: all .25s ease;
      .header-logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-basis: 380px;
        -ms-flex-preferred-size: 380px;
        flex-basis: 380px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0 auto 0 0;
        padding: 23px 0 25px;
        .logo {
          display: block;
        }
        .logo-header svg {
          width: 106px;
          height: 33px;
        }
        .header-title {
          margin: 0 0 0 42px;
          font-size: 11px;
          font-weight: 400;
          color: #fff;
        }
        .header-humberger {
          display: none;
          .header-humberger-border {
            position: absolute;
            left: 21px;
            display: block;
            width: 19px;
            height: 2px;
            background: #fff;
            border-radius: 3px;
            -webkit-transition: top .25s ease,opacity .25s ease,-webkit-transform .25s ease;
            transition: top .25s ease,transform .25s ease,opacity .25s ease;
            transition: top .25s ease,transform .25s ease,opacity .25s ease,-webkit-transform .25s ease;
          }
          .header-humberger-border:first-of-type {
            top: 3px;
          }
          .header-humberger-border:nth-of-type(2) {
            top: 9px;
          }
          .header-humberger-border:last-of-type {
            top: 15px;
          }
        }
      }
      .header-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        .header-navi {
          display: block;
          margin: 0 33px 0 auto;
          max-width: 613px;
          -webkit-flex-basis: 613px;
          -ms-flex-preferred-size: 613px;
          flex-basis: 613px;
          -webkit-transition: opacity .25s ease .3s,max-width 0s ease .3s,-webkit-flex-basis 0s .3s,-webkit-flex-basis 0s .3s;
          transition: opacity .25s ease .3s,max-width 0s ease .3s,flex-basis 0s .3s;
          transition: opacity .25s ease .3s,max-width 0s ease .3s,flex-basis 0s .3s,-webkit-flex-basis 0s .3s,-webkit-flex-basis 0s .3s,-ms-flex-preferred-size 0s .3s;
          .header-navi-list {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            .header-navi-item {
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              .header-navi-text {
                position: relative;
                display: block;
                height: 100%;
                padding: 18px 25px 0;
                font-size: 11px;
                color: #fff;
                text-align: center;
                .header-navi-text-en {
                  display: block;
                  padding: 6px 0;
                  font-size: 15px;
                  font-weight: 700;
                  color: #fff;
                  text-align: center;
                  line-height: 1;
                }
                .header-navi-text-jp {
                  display: inline-block;
                  -webkit-transition: opacity .25s ease .15s,-webkit-transform .25s ease .15s;
                  transition: transform .25s ease .15s,opacity .25s ease .15s;
                  transition: transform .25s ease .15s,opacity .25s ease .15s,-webkit-transform .25s ease .15s;
                }
                .header-navi-mark {
                  position: relative;
                  display: none;
                  width: 16px;
                  height: 16px;
                  margin: 0 0 0 20px;
                  border: 1px solid #181818;
                  border-radius: 50%;
                  -webkit-box-ordinal-group: 4;
                  -webkit-order: 3;
                  -ms-flex-order: 3;
                  order: 3;
                }
                .header-navi-mark.header-navi-mark-arrow {
                  border: 0;
                }
              }
              .megamenu {
                position: absolute;
                top: 80px;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                max-height: 0;
                background: #f5f5f5;
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
                overflow: hidden;
                .megamenu-list {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  width: 1260px;
                  margin: 0 auto;
                  padding: 11px 18px 29px;
                  -webkit-transform: translate(0,-10px);
                  transform: translate(0,-10px);
                  opacity: 0;
                  -webkit-transition: all .25s ease;
                  transition: all .25s ease;
                  .megamenu-item {
                    margin: 11px 0;
                    -webkit-flex-basis: 16.66%;
                    -ms-flex-preferred-size: 16.66%;
                    flex-basis: 16.66%;
                    .megamenu-title {
                      position: relative;
                      display: block;
                      margin: 10px 0 0;
                      padding: 0 15px;
                      font-size: 13px;
                      text-align: center;
                      .megamenu-title-icon {
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        font-size: 18px;
                        -webkit-transform: translate(0,-50%);
                        transform: translate(0,-50%);
                      }
                    }
                    .megamenu-mark {
                      position: relative;
                      display: none;
                      width: 16px;
                      height: 16px;
                      margin: 0 18px 0 auto;
                      -webkit-box-ordinal-group: 4;
                      -webkit-order: 3;
                      -ms-flex-order: 3;
                      order: 3;
                    }
                  }
                  .megamenu-item-mobile {
                    display: none;
                }
                }
              }
            }
          }
        }
      }
    }
  }
}

.header-navi-contact {
  display: none;
  .button-small {
    padding: 10px 24px;
  }
  .button-fit {
    display: block;
    width: 100%;
  }
  .button-small .button-text {
    font-size: 14px;
  }
  .button {
    position: relative;
    display: inline-block;
    padding: 15px 15px 11px;
    color: inherit;
    border: 1px solid #181818;
    border-radius: 4px;
    box-shadow: 0 4px 0 0 rgba(0,0,0,.11);
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .25s ease,color .25s ease;
    transition: background-color .25s ease,color .25s ease;
  }
  .button-text {
    padding: 0 40px;
    font-size: 16px;
    letter-spacing: .14em;
    line-height: 1.75;
  }
  .button-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 12px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }
}

.submenu {
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .25s ease 0s;
  transition: opacity .25s ease 0s;
  .submenu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 0;
  }
  .submenu-item {
    margin: 0;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    border-top: 0 solid #eaeaea;
    -webkit-transition: border 0s ease .5s;
    transition: border 0s ease .5s;
  }
  .submenu-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: inherit;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 20px;
  }
  .submenu-item a {
    opacity: 1;
  }
  .submenu-title {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
    letter-spacing: .025rem;
    font-weight: 400;
    text-align: left;
    -webkit-transition: font-size 0s ease .5s;
    transition: font-size 0s ease .5s;
  }
  .submenu-title {
    letter-spacing: .05em;
  }
  .submenu-title-icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 18px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
  }
  .submenu-mark {
    position: relative;
    display: block;
    width: 16px;
    height: 0;
    margin: 0 18px 0 auto;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-transition: height 0s ease .5s;
    transition: height 0s ease .5s;
  }
  .submenu-mark:before {
    top: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .submenu-mark:after {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .submenu-mark:after,
  .submenu-mark:before {
    content: '';
    position: absolute;
    left: 8px;
    display: block;
    width: 8px;
    height: 1px;
    background: #181818;
  }
}

// ヘッダーの右端、検索フォーム
.header-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 65px 0 0;
  -webkit-transition: opacity .25s ease 0s,width 0s linear 0s;
  transition: opacity .25s ease 0s,width 0s linear 0s;
  .header-search-box {
    position: relative;
    width: 0;
    height: 41px;
    margin: 0 15px 0 0;
    border-radius: 20px;
    background: #fff;
    -webkit-transition: opacity .25s ease .05s,width 0s linear 0s;
    transition: opacity .25s ease .05s,width 0s linear 0s;
    opacity: 0;
  }
  .header-search-box-icon {
    position: absolute;
    top: 11px;
    left: 16px;
    font-size: 16px;
    color: #666;
  }
  .icon-search:before {
    content: "";
  }
  .header-search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 38px;
    border: 0;
    outline: 0;
    font-size: 12px;
  }
  .header-search-box-submit {
    display: none;
  }
  .header-search-button {
    position: relative;
    color: #fff;
  }
  .header-search-icon {
    width: 25px;
    height: 25px;
    padding: 1px 0 0;
    font-size: 21px;
  }
  .header-search-close {
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
  }
}


.mutter {
  position: absolute;
  top: 20px;
  right: 50%;
  margin-right: -705px;
  display: block;
  height: 94px;
  z-index: 10;
  @media screen and (max-width: 1421px) {
    display: none;
  }
    .mutter-media {
      display: block;
      width: 94px;
      height: 94px;
      border-style: solid;
      border-width: 4px;
      border-color: #fff;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 3px 7px 0 rgba(24,24,24,.3);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .mutter-svg {
      position: absolute;
      top: 0;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .mutter-svg circle {
      fill: transparent;
      stroke: #ee1d24;
      stroke-width: 4;
      -webkit-transition: all 0s linear;
      transition: all 0s linear;
      stroke-dasharray: 0 296;
    }
}