.l-header-inner,
.l-header-inner.is-header-inner-open {
  position: relative;
}
.megamenu-item:first-of-type,
.submenu-item:first-of-type {
  border: none;
}
.infomovie-item-inner,
.megamenu-item a {
  display: block;
  color: inherit;
}
.footerbanner-item-inner,
.footercontact-social-item a,
.footersitemap-list a,
.info-item a,
.infomovie-item-inner,
.megamenu-item a,
.messageform-text a,
.subblog-article-link {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
[class*=" icon-"], [class^=icon-] {
  font-family: "lig-icon"!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.articlesub-title,
.headingsub,
.infomovie-title,
.megamenu-title {
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.6;
}
.icon-arrow-circle:before {
  content: "";
}