

.l-header-inner,
.l-header-inner.is-header-inner-open {
  position: relative;
}
.megamenu-item:first-of-type,
.submenu-item:first-of-type {
  border: none;
}
.infomovie-item-inner,
.megamenu-item a {
  display: block;
  color: inherit;
}
.footerbanner-item-inner,
.footercontact-social-item a,
.footersitemap-list a,
.info-item a,
.infomovie-item-inner,
.megamenu-item a,
.messageform-text a,
.subblog-article-link {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
[class*=" icon-"], [class^=icon-] {
  font-family: "lig-icon"!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.articlesub-title,
.headingsub,
.infomovie-title,
.megamenu-title {
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 1.6;
}
.icon-arrow-circle:before {
  content: "";
}
.button-text,
.heading-title {
  font-weight: 700;
}
.submenu-item a,
.submenu-list,
.submenu-list-blog {
  -webkit-transition: padding 0s ease .5s;
  transition: padding 0s ease .5s;
}
.submenu-item a,
.submenu-list-blog {
  padding: 0 0 0 37px;
}
.mutter-text-content,
.submenu-title {
  line-height: 1.6;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
  visibility: hidden !important;
}
[type=button],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=reset],
[type=search],
[type=submit],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
button,
select,
textarea {
  min-height: 1.5em;
}
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}