%header.l-header.js-header
  .l-header-inner.js-header-inner{ style: "transform: translate3d(0px, 0px, 3px);"}
    .l-header-content.js-header-content
      .header-logo
        %a.logo.logo-header{ href: "#" }
          %svg
            %path{ d: "M253.111,818.319H219.1v-46.8a1.86,1.86,0,0,0-1.851-1.868h-12.6A1.7,1.7,0,0,0,203,771.517v58.84a1.859,1.859,0,0,0,1.85,1.868h48.261a1.86,1.86,0,0,0,1.851-1.868V819.983A1.7,1.7,0,0,0,253.111,818.319Zm53.983-39.33h-12.4a1.859,1.859,0,0,0-1.849,1.869v49.5a1.858,1.858,0,0,0,1.849,1.867h12.4a1.859,1.859,0,0,0,1.851-1.867v-49.5A1.86,1.86,0,0,0,307.094,778.989Zm76.95,3.309a26.41,26.41,0,0,1,16.987,6.462,1.766,1.766,0,0,0,1.172.45,1.2,1.2,0,0,0,1.173-.437l7.187-8.812A2.021,2.021,0,0,0,411,778.5a1.972,1.972,0,0,0-.694-1.34A42.187,42.187,0,0,0,384.044,768a38.635,38.635,0,0,0-25.876,9.347,31.232,31.232,0,0,0-10.628,23.565,31.749,31.749,0,0,0,10.413,23.635A37.237,37.237,0,0,0,383.31,834a48.4,48.4,0,0,0,26.431-8.294,1.98,1.98,0,0,0,.808-1.612V805.746A1.566,1.566,0,0,0,408.916,804H397.583c-1.013,0-1.432.871-1.432,1.945v10.545a28.308,28.308,0,0,1-12.016,3.121c-11.417,0-20.361-8.215-20.361-18.7C363.774,790.474,372.678,782.3,384.044,782.3Z" }
        %p.header-title 台東区上野発のweb会社、世界へ
        .header-humberger.js-header-humberger
          %span.header-humberger-border
          %span.header-humberger-border
          %span.header-humberger-border
      .header-menu
        %nav.header-navi.js-header-navi
          %ul.header-navi-list
            %li.header-navi-item.js-header-navi-item{ data: "blog"}
              %a.header-navi-text.header-navi-text-mobile{ href: "#" }
                %span.header-navi-text-en BLOG
                %span.header-navi-text-jp ブログ
                %span.header-navi-mark
              .megamenu.js-megamenu
                .megamenu-list.js-megamenu-list{ data: "blog" }
                  .megamenu-item.megamenu-item-mobile
                    %a{ href: "#" }
                      %p.megamenu-title
                        ブログトップ
                        %i.megamenu-title-icon.icon-arrow-circle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        Web制作
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        オフショア開発
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        コンテンツ制作
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        ゲストハウス
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        コアーキング
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        教育
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        飲食
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        地方創生
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        経営
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        お知らせ/募集
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        殿堂入り記事
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        ライブラリ
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark
                  .megamenu-item
                    %a{ href: "#" }
                      %p.megamenu-title
                        連載記事
                        %i.megamenu-title-icon.icon-arrow-ciecle
                      %span.megamenu-mark