body {
  font-size: 12px;
  color: #696969;
}
h2 {
  font-size: 24px;
  border-bottom: 1px solid #1e90ff;
  padding: 5px 0 5px 0;
  margin-bottom: 25px;
}
// body {
//   color: #666;
//   font-family: Helvetica,Arial,Roboto,"Droid Sans","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
//   letter-spacing: .2px;
// }
// body {
//   display: block;
//   margin: 8px;
// }
// div[ui-view] {
//   height: inherit;
// }
// body, pre {
//   word-wrap: break-word;
// }
// body, figure, form {
//   margin: 0;
// }
// body, html {
//   height: 100%;
// }
// button, iframe, img {
//   border: none;
// }
// img {
//   -ms-interpolation-mode: bicubic;
//   vertical-align: bottom;
// }
// h1, h2, h3, h4, h5 {
//   line-height: 1.2;
// }
// h1 {
//   font-size: 2em;
//   margin: .67em 0;
// }
// user agent stylesheet
// h1 {
//   display: block;
//   font-size: 2em;
//   margin-block-start: 0.67em;
//   margin-block-end: 0.67em;
//   margin-inline-start: 0px;
//   margin-inline-end: 0px;
//   font-weight: bold;
// }
// button {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -o-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   background: 0 0;
// }
// button, html input[type=button], input[type=reset], input[type=submit] {
//   -webkit-appearance: button;
//   cursor: pointer;
// }
// button, input {
//   line-height: normal;
// }
// button, input, select, textarea {
//   font-size: 100%;
//   margin: 0;
//   vertical-align: baseline;
// }
// a:active, a:hover, button, input, textarea {
//   outline: 0;
// }
// button, html, input, select, textarea {
//   font-family: sans-serif;
// }
// button, iframe, img {
//   border: none;
// }
// button:disabled {
//   color: -internal-light-dark-color(graytext, rgb(170, 170, 170));
// }